spring:
  application:
    name: api-oha-benchmarker
cadvisor:
  enabled: false
  open-browser: false
---
spring:
  config.activate.on-profile: springboot
load-test-runner:
  ohaParameters:
    - numRequests: 100
      concurrency: 100
      endpoint: /greetings
    - numRequests: 300
      concurrency: 300
      endpoint: /greetings
    - numRequests: 900
      concurrency: 900
      endpoint: /greetings
    - numRequests: 2700
      concurrency: 2700
      endpoint: /greetings
  wait-for-container-to-start-millis: 5000
  pause-between-tests-millis: 3000
  app-containers:
    sb-web-jvm:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-jvm
      app-type: spring-boot
    sb-web-jvm-cds:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-jvm-cds
      app-type: spring-boot
    sb-web-jvm-cds-aot:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-jvm-cds-aot
      app-type: spring-boot
    sb-web-native:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-native
      app-type: spring-boot
    sb-web-jvm-vt:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-jvm
      environment:
        - SPRING_THREADS_VIRTUAL_ENABLED=true
      app-type: spring-boot
    sb-web-jvm-cds-vt:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-jvm-cds
      environment:
        - SPRING_THREADS_VIRTUAL_ENABLED=true
      app-type: spring-boot
    sb-web-jvm-cds-aot-vt:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-jvm-cds-aot-vt
      app-type: spring-boot
    sb-web-native-vt:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-native-vt
      app-type: spring-boot
    sb-reactive-jvm:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-reactive:4.0.2-21-jvm
      app-type: spring-boot
    sb-reactive-jvm-cds:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-reactive:4.0.2-21-jvm-cds
      app-type: spring-boot
    sb-reactive-jvm-cds-aot:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-reactive:4.0.2-21-jvm-cds-aot
      app-type: spring-boot
    sb-reactive-native:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-reactive:4.0.2-21-native
      app-type: spring-boot
---
spring:
  config.activate.on-profile: frameworks
load-test-runner:
  ohaParameters:
    - numRequests: 100
      concurrency: 100
      endpoint: /greetings
    - numRequests: 300
      concurrency: 300
      endpoint: /greetings
    - numRequests: 900
      concurrency: 900
      endpoint: /greetings
    - numRequests: 2700
      concurrency: 2700
      endpoint: /greetings
  wait-for-container-to-start-millis: 5000
  pause-between-tests-millis: 3000
  app-containers:
    sb-web-jvm:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-jvm
      app-type: spring-boot
    q-web-jvm:
      docker-image-name: ivanfranchin/quarkus-greetings-api-web:3.31.1-21-jvm
      app-type: quarkus
    m-web-jvm:
      docker-image-name: ivanfranchin/micronaut-greetings-api-web:4.10.7-21-jvm
      app-type: micronaut
    sb-reactive-jvm:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-reactive:4.0.2-21-jvm
      app-type: spring-boot
    q-reactive-jvm:
      docker-image-name: ivanfranchin/quarkus-greetings-api-reactive:3.31.1-21-jvm
      app-type: quarkus
    m-reactive-jvm:
      docker-image-name: ivanfranchin/micronaut-greetings-api-reactive:4.10.7-21-jvm
      app-type: micronaut
    sb-web-native:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-web:4.0.2-21-native
      app-type: spring-boot
    q-web-native:
      docker-image-name: ivanfranchin/quarkus-greetings-api-web:3.31.1-21-native
      app-type: quarkus
    m-web-native:
      docker-image-name: ivanfranchin/micronaut-greetings-api-web:4.10.7-21-native
      app-type: micronaut
    sb-reactive-native:
      docker-image-name: ivanfranchin/spring-boot-greetings-api-reactive:4.0.2-21-native
      app-type: spring-boot
    q-reactive-native:
      docker-image-name: ivanfranchin/quarkus-greetings-api-reactive:3.31.1-21-native
      app-type: quarkus
    m-reactive-native:
      docker-image-name: ivanfranchin/micronaut-greetings-api-reactive:4.10.7-21-native
      app-type: micronaut
---
spring:
  config.activate.on-profile: webserver
load-test-runner:
  ohaParameters:
    - numRequests: 100
      concurrency: 100
      endpoint: /greetings
    - numRequests: 300
      concurrency: 300
      endpoint: /greetings
    - numRequests: 900
      concurrency: 900
      endpoint: /greetings
    - numRequests: 2700
      concurrency: 2700
      endpoint: /greetings
    - numRequests: 8100
      concurrency: 8100
      endpoint: /greetings
  wait-for-container-to-start-millis: 5000
  pause-between-tests-millis: 3000
  app-containers:
    greetings-api-tomcat:
      docker-image-name: greetings-api-tomcat:4.0.0-25
      app-type: spring-boot
    greetings-api-jetty:
      docker-image-name: greetings-api-jetty:4.0.0-25
      app-type: spring-boot
    greetings-api-tomcat-vt:
      docker-image-name: greetings-api-tomcat:4.0.0-25-vt
      app-type: spring-boot
    greetings-api-jetty-vt:
      docker-image-name: greetings-api-jetty:4.0.0-25-vt
      app-type: spring-boot
